.main-container{
    width: 80%;
    margin: auto;
    height: 100vh;

    font-family: 'Lato', sans-serif;
}

.header{
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.header ul>li{
    float: left;
    margin-left:50px;
    list-style: none;
    color: gray;
}
.logo{
    color: gray;
    margin-left: 200px;
}

.container1{
    display: grid;
    grid-template-columns: 65% 35%;
}
.container1 img{
    width: 90%;
    height: 282px;
    margin-top: 36px;
    margin-right: 20px;
}
.c-left{
   margin-left: 200px;
    width: 60%;
    margin-top: 100px;
    color: gray;
}

.container2{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 30px;
}
.c-2{
 width: 80%;
}
.c-2 h2{
    font-size: 15px;
}
.c-2 h2{
    font-size: 15px;
    color: rgb(112, 112, 112);
}   .c-2 p{
    font-size: 11px;
    color: rgb(151, 151, 151);
}

.footer{
width: 100%;
background-color: rgb(231, 231, 231);
margin-top: 20px;

}
.c-3{
    width: 20%;
    margin: 20px auto;
    text-align: center;
    padding-top: 20px; 
    padding-bottom: 20px;
}
.c-3 h2{
    font-size: 15px;
    color: rgb(112, 112, 112);
}   .c-3 p{
    font-size: 11px;
    color: rgb(151, 151, 151);
}